<h1> BIENVENIDO A ESTA PUTA MIERDA! </h1>
{% if ansible_distribution=='Ubuntu' %}
  <h2> Estoy en Ubuntu </h2>
{% endif %}

{% if ansible_distribution=='Rocky' %}
  <h2> Estoy en Rocky </h2>
{% endif %}

